.petbutton {
    color: white;
    background-color: @green_5;
}

.feedbutton {
    color: white;
    background-color: @red_4;
}

.abandonbutton {
    color: white;
    background-color: @red_5;
}

.UnfriendlyText {
  color: @red_2;
}

.FriendlyText {
  color: @green_4;
}
